{% extends 'base.html' %}

{% block content %}
    <div class="flex flex-col justify-center items-center mt-12">
        <a href="#">
            <h5 class="text-xl font-bold dark:text-white">{{ snack.title }}</h5>
        </a>
        <a href="#"
           class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <p>Purchaser Email: {{ snack.purchaser }}</p>
            <p>Description: {{ snack.description }}</p>
        </a>

        <a href="{% url 'snack_update' snack.pk %}"
           class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Update</a>
        <a href="{% url 'snack_delete' snack.pk %}"
           class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Delete</a>


    </div>

{% endblock %}